<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Text Live</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <link rel="stylesheet" href="/css/tree.css" />
  </head>
  <body>
    <nav
      class="navbar has-background-info"
      role="navigation"
      aria-label="main navigation"
    ></nav>
    <% if(user){%>
    <div class="columns">
      <div class="column list is-hoverable is-shadowless" id="tree"></div>
      <% }%>
      <div class="column is-three-quarters has-background-success"></div>
    </div>
    <script src="/js/tree.js"></script>
    <script>
      function add(name, type, content) {
        post("/tree", [name, type, content]);
      }

      function post(path, params, method = "post") {
        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        const form = document.createElement("form");
        form.method = method;
        form.action = path;
        for (const key in params) {
          if (params.hasOwnProperty(key)) {
            const hiddenField = document.createElement("input");
            hiddenField.type = "hidden";
            hiddenField.name = key;
            hiddenField.value = params[key];
            form.appendChild(hiddenField);
          }
        }
        document.body.appendChild(form);
        form.submit();
      }

      generateTree(<%- JSON.stringify(chapter) %>, <%- JSON.stringify(question) %>);
      setClickEventOnTreeItems();
      // let questions = [<%- JSON.stringify(question) %>];
      // let chapters = [<%- JSON.stringify(chapter) %>];
      // test(chapters[0][0].questions, questions[0])
      /*
              <%= chapter %>
              <%= question %>
              */
    </script>
  </body>
</html>
