<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

<!--Timer-->
<div id="timer"></div>
<!--Numer pokoju -->
<% if(room.OPEN==true && user){ %>
<div id="pinpokoju"> KOD KLASY: <%= room.PIN %> </div>
<button onclick="startgame()">ROZPOCZNIJ</button>
<!--Lista guestów-->
<div id="guestlist"></div>
<% }else if(room.OPEN){ %>
<!--Lista guestów-->
<div id="guestlist"></div>



<% } %>
<!--Treść pytania-->
<div id="gamequestions">
<% if(!user && room.OPEN == false){ %>
<div id="question"></div>
<button onclick="changequestion(-1)">Poprzednie pytanie</button>
<button onclick="changequestion(1)">Następne pytanie</button>
<% } %>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    let room;
    let guestlist;
    let questions;
    let guest;
    let timerinverval;
    const socket = io();
            socket.on('connect', () => {
                console.log(socket.id)
                <% if(!user){ %>
                socket.emit('addSocketIDToGuest','<%= fguest._id %>',socket.id);
                <% } %>
                socket.emit('joinroom',"<%= room.PIN %>",<%= room.OPEN %>);

        });
    
    

    
    
    
    //SOCKETIO
    
    
    
    //Lista guestów
    socket.on('reloadlist',(fRoom,fGuests,fQuestions)=>{
        <% if(room.OPEN==true){ %>
        room = fRoom;
        guestlist = fGuests;
        questions = fQuestions;
        $("#guestlist").html("")
        $.each(guestlist,function(){
            $("#guestlist").append(`<div>`+this.username+ <% if(user){ %>   `<button onclick="deleteguest(this)" db-id="`+this._id+`">Usuń!</button> ` +  <% } %> `</div>`)
            
        })
        <% }else{ %>
        room = fRoom;
        guestlist = fGuests;
        questions = fQuestions;
        <% } %>
    })
    
    socket.on('Nguest',(g)=>{
        guest = g;
    })
    
    

    
    //Wyrzucenie guesta z pokoju
    <% if(user){ %> 
    function deleteguest(e){
        socket.emit('deleteguest',$(e).attr('db-id'),"<%= room.PIN %>");
    }

    <% } %>
    socket.on('leaveroom',(e)=>{
        socket.emit('leaveroom1',"<%= room.PIN %>");
        location.reload();
        
    })
    
    
    //Rozpoczęcie gry
    <% if(room.OPEN==true){ %>
    function startgame(){
        <% room.OPEN=false %>
        socket.emit('startgame',"<%= room.PIN %>","<%= room.id %>")
            
    }
    <% } %>
                    
                    
    socket.on('lastload',(nRoom,fQuestions)=>{
            room = nRoom;
            questions = fQuestions;
            <% if(!user){ %>
            $("#gamequestions").html(`<div id="question"></div>
    <button onclick="changequestion(-1)">Poprzednie pytanie</button>
    <button onclick="changequestion(1)">Następne pytanie</button>`);
            <% } %>
        })    
        
        
        
    //Zmiana pytania
        <% if(!user){ %>
        function changequestion(num){
            guest.index += num;
            if(guest.index<0){
                guest.index = 0;
            }
            if(guest.index>=questions.length){
                <% if(room.time){ %>
                guest.index = questions.length-1;
                <%}else{ %>
                console.log('koniec');
                return "xd";
                <% } %>
            }
            console.log(questions[guest.index]);
            //WYŚWITLANIE PYTANIA                         WĄŻŃĘ////////////////////////////////////////////
            $("#question").html(questions[guest.index].content);
            <% if(!room.time){ %>
               if(questions[guest.index].type=='open'){
                   timer(<%= room.opentime %>)
               }else{
                   timer(<%= room.closedtime %>)
               }
            <% } %>
            
            socket.emit("changeindex","<%= fguest.id %>",guest.index,questions[guest.index].type,'<%= room.opentime %>','<%= room.closedtime %>','<%= room.time %>')
            
        }
        <% } %>
    //Timer
        function timer(time){
                function changetime(){
                let min = Math.floor(time/60);
                let sec = time%60;
                $("#timer").text(min+":"+sec) 
                
                if(time==0){
//                    timeout();
                    clearInterval(timerinverval)
                }  
                    time--;
                }
                
                if(timerinverval){
                clearInterval(timerinverval);
                timerinverval=undefined;
                }
                
                timerinverval = setInterval(changetime,1000,time);
            }
            
        function timeout(){

//            <% if(room.time){ %>
//            // KONIEC TESTU
//            <%}else{ %>
//            clearInterval(timerinverval)
//            changequestion(1)
//            
//            <% } %>
        }
        socket.on('timeout',(index)=>{
            <% if(room.time){ %>
            // KONIEC TESTU
            <%}else{ %>
            if(index==guest.index){
            clearInterval(timerinverval)
            changequestion(1)
            }
            <% } %>
        })

</script>

</html>
