<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>



<!--Numer pokoju -->
<% if(room.OPEN==true && user){ %>
<div id="pinpokoju"> KOD KLASY: <%= room.PIN %> </div>
<button onclick="startgame()">ROZPOCZNIJ</button>
<!--Lista guestów-->
<div id="guestlist"></div>
<% }else if(room.OPEN){ %>
<!--Lista guestów-->
<div id="guestlist"></div>
<% } %>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    let room;
    let guestlist;
    let questions;
    let guest;
    const socket = io();
            socket.on('connect', () => {
                console.log(socket.id)
                <% if(!user){ %>
                socket.emit('addSocketIDToGuest','<%= fguest._id %>',socket.id);
                <% } %>
                socket.emit('joinroom',"<%= room.PIN %>",<%= room.OPEN %>);

        });
    
    

    
    
    
    //SOCKETIO
    
    
    
    //Lista guestów
    socket.on('reloadlist',(fRoom,fGuests,fQuestions)=>{
        <% if(room.OPEN==true){ %>
        room = fRoom;
        guestlist = fGuests;
        questions = fQuestions;
        $("#guestlist").html("")
        $.each(guestlist,function(){
            $("#guestlist").append(`<div>`+this.username+ <% if(user){ %>   `<button onclick="deleteguest(this)" db-id="`+this._id+`">Usuń!</button> ` +  <% } %> `</div>`)
            
        })
        <% }else{ %>
        room = fRoom;
        guestlist = fGuests;
        questions = fQuestions;
        <% } %>
    })
    
    socket.on('Nguest',(g)=>{
        guest = g;
    })
    
    

    
    //Wyrzucenie guesta z pokoju
    <% if(user){ %> 
    function deleteguest(e){
        socket.emit('deleteguest',$(e).attr('db-id'),"<%= room.PIN %>");
    }

    <% } %>
    socket.on('leaveroom',(e)=>{
        socket.emit('leaveroom1',"<%= room.PIN %>");
        location.reload();
        
    })
    
    
    //Rozpoczęcie gry
    <% if(room.OPEN==true){ %>
    function startgame(){
        <% room.OPEN=false %>
        socket.emit('startgame',"<%= room.PIN %>","<%= room.id %>")
            
    }
    <% } %>
                    
                    
    socket.on('lastload',(nRoom,fQuestions)=>{
            room = nRoom;
            questions = fQuestions;
            $('body').html('<div id="timer"></div>');
        })    
        
        
        
    //Zmiana pytania
        function nextquestions(){
            if(guest.index==-1){
                guest.index = 0;
                console.log(questions[guest.index]);
            }
        }
        
</script>

</html>
