<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= room.PIN%>
    </h1>
    <h2 id='pytanie'></h2>
    <ul id="guests"></ul>
    <div id="content">
        <% if(user && room.OPEN != false ){ %>
        <form id="qform">
            <input id='qinput' type="text">
            <button id="qbutton">Wyślij</button>
        </form>
        <% }else{ %>


        <% } %>

    </div>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    //    var socket = io({transports: ['websocket'], upgrade: false});
    const socket = io();
    let list;
    let boolean = false;
    //DOŁĄCZANIE
    socket.on('connect', () => {
        socket.emit('room', <%= room.PIN %>, boolean);
        <% if(user) {%>
        boolean = true;
        <% } if(!user && room.OPEN == false) {%>
        document.getElementById('content').innerHTML = "<div id='area' contenteditable='true'>  </div>";
        $('#content').append("<button onclick='wyslij()' id='przycisk'>Wyślij</button>")

        <% } if(user && room.OPEN == false) { %>
        $('#content').append("<button id='qbutton'>Zakończ</button>")
        socket.emit('glist', socket.id)
        <% } %>
        console.log(socket.id); // true



    });


    //WYŚWIETLANIE LISTY
    socket.on('join_room', (nroom) => {
        list = nroom;
        <% if (room.OPEN != false){ %>
        console.log(nroom)
        document.getElementById('guests').innerHTML = "";
        nroom.forEach(function(guest) {
            $('#guests').append($('<li>').text(guest.username));
        })
        <%    } %>
    })

    //ZADANIE PYTANIA
    $('#qbutton').click((e) => {
        e.preventDefault();
        let qinput = $('#qinput').val();
        socket.emit("question", qinput, <%= room.PIN %>);
    })
    //Wyświetlanie pytania
    socket.on('qquestion', (qinput) => {
        document.getElementById('guests').innerHTML = "";
        <% if(user){  %>
        $('#content').append("<button id='qbutton'>Zakończ</button>")
        <% }else { %>
        document.getElementById('qanswer').innerHTML = "<div id='area' contenteditable='true'></div>"
        $('#content').append("<button onclick='wyslij()' id='przycisk'>Wyślij</button>")
        <% } %>
        socket.emit('glist', socket.id)
    })


    //Przesyłanie pytania
    setInterval(function() {

        <% if(!user) { %>

        if ($('#area').val() != " ") {
            let xd = $('#area').val();
            socket.emit('odp', <%= room.PIN %>, xd, '<%= fguest.id %>');
        }
        <% } %>
    }, 5000)


    //Wyświetlanie odpowiedzi
    socket.on('lista', (glist) => {
        console.log(list)
        list.forEach(function(guest) {
            $('#content').append($('<span>').text('as').attr("id", guest._id));
        })
    })

    socket.on('godp', (text, gid) => {
        $("#" + gid).text(text)
    })



    //Wysyłanie odpowiedzi
    function wyslij() {
        let ans = $('#area').text();
        $('#area').text(" ");
        socket.emit('ans', socket.id, ans, '<%= fguest.id %>', <%= room.PIN %>)
    }
    socket.on('wys', (socid,text,gid)=>{
        
    })

</script>

</html>
