<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/css/room.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">
    <link href="/css/fontawesome/css/all.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.0.0/quill.bubble.css" rel="stylesheet">
</head>

<body>

<!--Timer-->
<div id="timer"></div>
<!--Numer pokoju -->
<% if(user){ %>
<div class="room">
<div class="room-title"><i class="fas fa-cog icon_mg"></i> Zarządzanie pokojem</div>
<div id="pinpokoju" class="etykieta"> Kod Klasy <br><br>
<span class="room-pin"><%= room.PIN %></span> </div><br>
<!-- Pokazanie pytania -->
<span>Pogląd ucznia </span>
<div class="showq"></div>
<!--Lista guestów-->
<div class="etykieta"><i class="fas fa-user-friends icon_mg"></i></i> Lista gości</div><br>
<div id="guestlist"></div><br>
<% if(room.OPEN==true){ %>
<button onclick="startgame()" class="startgame"><i class="fas fa-play icon_mg"></i> ROZPOCZNIJ</button>
<% }}else if(room.OPEN){ %>
<!--Lista guestów-->
<div id="guestlist"></div>
</div>


<% } %>
<!--Treść pytania-->
<div id="gamequestions">
<% if(!user && room.OPEN == false){ %>
<div id="question"></div>
<div id="answers"></div>
<% if(room.time){ %>
<button onclick="changequestion(-1)">Poprzednie pytanie</button>
<% } %>
<button onclick="changequestion(1)">Następne pytanie</button>
<% } %>
</div>
<!--Licznik pytań-->
<div id="licznik"></div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script>
    let room;
    let drake = dragula();
    let guestlist;
    let questions;
    let guest;
    let timerinverval;
    let checktimeinterval;
    let questionidlist = [];
    let shownquestioninfo;
    let openqarray = [];
    <% if(!user){ %>
    <% if( fguest.roomquestions.answer!=""){ %>
    let answers = <%-JSON.stringify(fguest.roomquestions.answer) %>;
    console.log(answers)
    <% }else{ %>
    let answers = [];
    <% } %>
    <% }%>
    const socket = io();
            socket.on('connect', () => {
                console.log(socket.id)
                <% if(!user){ %>
                socket.emit('addSocketIDToGuest','<%= fguest._id %>',socket.id);
                <% }if(!user && room.OPEN == false){ %>
                checktimeinterval = setInterval(checktime,1000)
                timer(<%= fguest.time %>-timeremaining())
                <% }%>
                socket.emit('joinroom',"<%= room.PIN %>",<%= room.OPEN %>);

        });
    
    
        window.onbeforeunload = function(event)
    {
        changequestion(0);
    };
    
    
    //SOCKETIO
    
    
    
    //Lista guestów
    socket.on('reloadlist',(fRoom,fGuests,fQuestions)=>{
        <% if(room.OPEN==true){ %>
        room = fRoom;
        guestlist = fGuests;
        questions = fQuestions;
        questionsidlist = [];
        if(questions){
        questions.forEach(q =>{
            questionidlist.push(q._id);
        })
        }
        $("#guestlist").html("")
        $.each(guestlist,function(){
            $("#guestlist").append(`<div>`+this.username+ <% if(user){ %>   `<button onclick="deleteguest(this)" db-id="`+this._id+`"><i class="fas fa-times"></i></button> ` +  <% } %> `</div>`)
            
        })
        <% }else{ %>
        room = fRoom;
        guestlist = fGuests;
        questions = fQuestions;
        questionsidlist = [];
        console.log(questionidlist)
        questions.forEach(q =>{
        questionidlist.push(q._id);
        })
        <% if(!user){ %>
        console.log(answers);
        showquestion()
        setInterval(changequestion,2000,0)
        questions.forEach((q,i)=>{
            $("#licznik").append(`<input num='`+i+`' name='licz' type="radio">`)
            
        })
        $('input[name="licz"]')[guest.index].checked = true;
        $('input[name="licz"]').click(function(){
            <% if(room.time){ %>
            let num = parseInt(this.getAttribute("num"))
            changequestion(num-guest.index)
            <% }else{ %>
            this.checked = false;
            $('input[name="licz"]')[guest.index].checked = true;
            <% } %>
            
        })
        <% }else{ %>
                    $.each(guestlist,function(){
                    $("#guestlist").append(`<div class='guestobject' id='`+this._id+`'>`+this.username+ `<span class='counter'></span><div class='showquestions'></div> </div>`)
                        
                    $("#"+this._id).click(function(){
                        let qdiv = $(this).find(".showquestions");
                        let qid = this.id;
//                        if(qdiv.attr("alt")=="open"){
//                           qdiv.html("");
//                            qdiv.attr( "alt", "notopen" )
//                           }else{
                        qdiv.html("");
                        qdiv.attr( "alt", "open" )
                        let gobj = $.grep(guestlist,function(n){return n._id == qid;})
                        gobj[0].roomquestions.question.forEach(q=>{
                            let thisq = $.grep(questions,function(n){return n._id == q;})[0];
                            qdiv.append(`<div class='qlist' db-id="`+thisq._id+`">`+ thisq.name+`</div>`)
                            $(`div[db-id="`+thisq._id+`"]`).click(function(){
                                shownquestioninfo = [thisq,this.parentElement.parentElement.id]
                                showq(thisq,this.parentElement.parentElement.id)
                            })
                        })
//                           }
                })
            
        })
        <% }} %>
        

    })
    // Wyświetlenie pytania u nauczyciela
    function showq(qobject,gid){
        let g = $.grep(guestlist,function(n){return n._id==gid})[0]
        let qindex = $.inArray(qobject._id,g.roomquestions.question)
//        console.log(qobject,g,qindex)
        
        if(qobject.type=="open"){
            
            console.log("a")
            $(".showq").html(`<div class="showqcontent">`+qobject.content+`</div>`+(g.roomquestions.answer[qindex] ? `<div class="showqanswer">`+g.roomquestions.answer[qindex]+`</div>` : ""))
            
        }else if(qobject.type=="single"||qobject.type=="multi"){
            
                $(".showq").html(`<div class="showqcontent">`+qobject.content+`</div><div class="showqanswer"></div>`)
                qobject.option.forEach((option,i)=>{
                    $(".showqanswer").append("<div class='"+qobject.type+"' id="+i+">"+option+"</div>");
                    if(g.roomquestions.answer[qindex].length!=0){
                       if($.inArray(i.toString(),g.roomquestions.answer[qindex])!=-1){
                           $("#"+i).addClass("toggle")
                       }
                        
                    }
                })
            
        } else if(qobject.type="match"){
            
            
        }
    }
    
    socket.on('Nguest',(g)=>{
        guest = g;
        console.log(g.index)
//        $("input[name='licz']")[g.index]
        if($('input[name="licz"]').length!=0){
            $('input[name="licz"]')[g.index].checked = true;
        }
        
    })
    
    
//    //Wyświetlenie listy pytań otwartych do oceny
//    function getqinfo(){
//        openqarray = [];
//        let qarr = [];
//        questions.forEach(q=>{
//            if(q.type=="open"){
//                qarr.push(q)
//            }
//        })
//        
//        qarr.forEach(q=>{
//           console.log(q) 
//           guestlist.forEach(g=>{
//               if(g.roomquestions.question){
//                   let qid = $.inArray(q._id,g.roomquestions.question);
//                   
//                   if(qid!=-1&&qid<g.index){
//                       console.log("a")
//                       openqarray.push(g.roomquestions.answer[qid])
//                   }
//               }
//           })
//        })
//    }
//    
//    function openquestionslist(qarr){
//        
//    }
    

    
    //Wyrzucenie guesta z pokoju
    <% if(user){ %> 
    function deleteguest(e){
        socket.emit('deleteguest',$(e).attr('db-id'),"<%= room.PIN %>");
    }

    <% } %>
    socket.on('leaveroom',(e)=>{
        socket.emit('leaveroom1',"<%= room.PIN %>");
        location.reload();
        
    })
    
    
    //Rozpoczęcie gry
    <% if(room.OPEN==true){ %>
    function startgame(){
        <% room.OPEN=false %>
        socket.emit('startgame',"<%= room.PIN %>","<%= room.id %>")
            
    }
    <% } %>
                    
  // Ładowanie wszystkiego                  
    socket.on('lastload',(nRoom,fQuestions)=>{
            room = nRoom;
            questions = fQuestions;
            <% if(!user){ %>
            <% if(room.time){%>
            $("#gamequestions").html(`<div id="question"></div><div id="answers"></div>
    <button onclick="changequestion(-1)">Poprzednie pytanie</button>
    <button onclick="changequestion(1)">Następne pytanie</button>`);
            $("#guestlist").remove();
            socket.emit('addtimeguest',"<%= fguest.id %>",'<%= room.time %>');
            changequestion(0);
            checktimeinterval = setInterval(checktime,1000)
            timer((<%= room.time %>*60))
            <% }else{%>
            $("#gamequestions").html(`<div id="question"></div>
    <button onclick="changequestion(1)">Następne pytanie</button>`);
            $("#guestlist").remove();
            let type = questions[0].type;
            let starttime;
            if(type=="open"){
                starttime = <%= room.opentime %>+"";
            }else if(type=="multi"||type=="single"){
                starttime = <%= room.closedtime %>+"";
            }
            changequestion(0);
            checktimeinterval = setInterval(checktime,1000)
            timer(starttime);
            <% }%>

            <% } %>
            location.reload()
        })    
        
        
        
    //Zmiana pytania
        <% if(!user){ %>

        
        // Zmiana indexu pytania
        function changequestion(num){
    //            Odpowiedź
            let er = false;
            let ans
            if(questions[guest.index]){
            if(questions[guest.index].type=="open"){
                if(window.quill){
                    ans = window.quill.container.firstChild.innerHTML
                    }
            }else if(questions[guest.index].type=="single"||questions[guest.index].type=="multi"){
                 ans = [];
                $(".toggle").each(function(){
                    ans.push(this.id)
                })
            }else if(questions[guest.index].type=="match"){
            ans = {
                o: [],
                a: []
            };         
                $( ".a").each(function( index ) {
                    if($(this).find('.o').length==1){
                        ans.o[index]=$(this).find('.o').attr('num');
                        ans.a.push($(this).attr('num'));
                    }else{
                        ans.a.push($(this).attr('num'));
                    }
                    
}               );
            }
            }
            if(ans){
                answers[guest.index] = ans;
            }
            <% if(!room.time){%>
                if(num<0){
                    num = num*-1;
                }
            <% }%>
            guest.index += num;
            if(guest.index<0){
                guest.index = 0;
                er=true;
            }
            if(guest.index>=questions.length){
                <% if(room.time){ %>
                guest.index = questions.length-num;
                er = true;
                return false;
                <%}else{ %>
                // KONIEC Testu
                    clearInterval(checktimeinterval);
                    clearInterval(timerinverval)
                    $("#gamequestions").html('')
                er = true;
                    return false;
                <% } %>
            }
            
            if(num!=0){
                showquestion()
            }
            

//            Timer
            <% if(!room.time){ %>
            if(num!=0){
               if(questions[guest.index].type=='open'){
                   timer(<%= room.opentime %>)
               }else{
                   timer(<%= room.closedtime %>)
               }}
            <% } %>
            

            
            
    // Emit
            if(er==false){
                console.log(er)
            socket.emit("changeindex","<%= fguest.id %>",num,questions[guest.index].type,'<%= room.opentime %>','<%= room.closedtime %>','<%= room.time %>',questionidlist,answers,"<%= room.PIN %>")}
            
        }
        <% } %>
    //Timer
        function timer(time){
                function changetime(){
                let min = Math.floor(time/60);
                let sec = time%60;
                $("#timer").text(min+":"+sec)
                    
                if(time<=0){
                    timeout();
                    clearInterval(timerinverval)
                }  
                    time--;
                }
                
                if(timerinverval){
                clearInterval(timerinverval);
                timerinverval=undefined;
                }
                
                timerinverval = setInterval(changetime,1000,time);
            }
            
        function checktime(){
            if(timeremaining() >guest.time){
                timeout();
            }
        }    
            
        function timeremaining(){
            let currentdate = new Date();
            return currentdate.getHours()*3600+currentdate.getMinutes()*60+currentdate.getSeconds();
        }
            
        function timeout(){

            <% if(room.time){ %>
                    clearInterval(timerinverval)
                    $("#gamequestions").html('')
           <%}else{ %>
            clearInterval(timerinverval);
            changequestion(1);
            console.log("ASDASDASD")
            
            <% } %>
        }
            // Zaznaczanie dobrej odpowiedzi
            function check(e,type){    
                if(type=="single"&& $(".toggle").length==1){
                    $(".toggle").toggleClass("toggle");
                }
                e.classList.toggle("toggle")
            }
            
            
            // Obiekt guest
            
            socket.on('nguestlist',(ng)=>{
                <% if(user){ %>
                guestlist[(guestlist.findIndex(x => x._id === ng._id))]= ng;
                guestlist.forEach((g,i)=>{
                let anscount = g.index;
                let qcount = g.roomquestions.question.length;
                $("#"+g._id+" span").html("<br>"+(anscount+1)+'/'+qcount);
                })
                if(shownquestioninfo){
                showq(shownquestioninfo[0],shownquestioninfo[1])
                }
                <% } %>
            })
            
            
                        //WYŚWITLANIE PYTANIA                         WĄŻŃĘ////////////////////////////////////////////
            function showquestion(){
            $("#question").html(questions[guest.index].content);
            if(questions[guest.index].type=="single"||questions[guest.index].type=="multi"){
                $("#answers").html("");
                let optionindex=0;
                questions[guest.index].option.forEach(option=>{
                    $("#answers").append("<div class='"+questions[guest.index].type+"' onclick=check(this,'"+questions[guest.index].type+"') id="+optionindex+">"+option+"</div>");
                    optionindex++;
                })
                if(answers[guest.index]){
                    answers[guest.index].forEach(qid=>{
                        $("#"+qid).addClass("toggle");
                    })
                }
            }else if(questions[guest.index].type=="open"){
                
                if(answers[guest.index]){
                    $("#answers").html(`<div id='quillopen'>`+answers[guest.index]+`</div>`);
                }else{
                    $("#answers").html(`<div id='quillopen'></div>`);
                }
                quil("quillopen");
            }else if(questions[guest.index].type=='match'){
                if(answers[guest.index]){
                    $('#answers').html(`<div id='matchq'></div><div id='matchans'></div>`);
                questions[guest.index].correct.forEach((correct,i)=>{
                    let index = i+1;
                    let ind = $.inArray(index.toString(), answers[guest.index].a);
                    if(ind!= -1&&answers[guest.index].o[ind]){
                        if(answers[guest.index].o[ind]==0){
                        $("#matchans").append(`<div class='a' num="`+index+`">`+correct+`<div class='matchdrop'>`+`<div class='o' num="0">`+questions[guest.index].fake.content+`</div>`+`</div></div>`)
                        }else{
                        $("#matchans").append(`<div class='a' num="`+index+`">`+correct+`<div class='matchdrop'>`+`<div class='o' num="`+answers[guest.index].o[ind]+`">`+questions[guest.index].option[answers[guest.index].o[ind]-1]+`</div>`+`</div></div>`)
                        }
                    }else{
                        
                       $("#matchans").append(`<div class='a' num="`+index+`">`+correct+`<div class='matchdrop'></div></div>`) 
                    }
                    
                })
                    if(questions[guest.index].fake){
                    fak = questions[guest.index].fake;
                    if(fak.typ=="fakeans"){
                        if($.inArray("0",answers[guest.index].o)==-1){
                            console.log(answers[guest.index])
                            $('#matchq').append(`<div class='o' num='0'>`+fak.content+`</div>`)
                        }else{
                        }
                        
                        
                    }else if(fak.typ=="fakematch"){
                       
                        if($.inArray("0",answers[guest.index].a)!=-1&&answers[guest.index].o[$.inArray("0",answers[guest.index].a)]){
                             $("#matchans").append(`<div class='a' num="0">`+fak.content+`<div class='matchdrop'>`+`<div class='o' num="`+$.inArray("0",answers[guest.index].a)+`">`+questions[guest.index].option[$.inArray("0",answers[guest.index].a)-1]+`</div>`+`</div>`)
                        }else{
                            $("#matchans").append(`<div class='a' num="0">`+fak.content+`<div class='matchdrop'></div>`)
                        }
                        
                    }
                }  
                   questions[guest.index].option.forEach((option,i)=>{                       
                    let index = i+1;
                       if($('.o[num="'+index+'"]').length==0){
                           $("#matchq").append(`<div class='o' num="`+index+`">`+option+`</div>`)
                       }
                })    

                }else{
                $('#answers').html(`<div id='matchq'></div><div id='matchans'></div>`);
                questions[guest.index].option.forEach((option,i)=>{
                    let index = i+1;
                    $("#matchq").append(`<div class='o' num="`+index+`">`+option+`</div>`)
                })                
                questions[guest.index].correct.forEach((correct,i)=>{
                    let index = i+1;
                    $("#matchans").append(`<div class='a' num="`+index+`">`+correct+`<div class='matchdrop'></div></div>`)
                })
                if(questions[guest.index].fake){
                    fak = questions[guest.index].fake;
                    if(fak.typ=="fakeans"){
                        $("#matchq").append(`<div class='o' num="0">`+fak.content+`</div>`)
                    }else if(fak.typ=="fakematch"){
                        $("#matchans").append(`<div class='a' num="0">`+fak.content+`<div class='matchdrop'></div>`)
                    }
                }    
                
                }
                let divarr = $(".matchdrop").toArray();
                divarr.push($("#matchq")[0]);
                dragula(divarr,{
                accepts: (el,target,source,sibling)=>{
                    if(target.className.includes('matchdrop')){
                        if(target.getElementsByTagName('div').length==0){
                            return true;
                        }else{
                            return false;
                        }
                           
                    }else{
                        return true;
                    }
        }
    });
                
            }
            }
            
            
            
            
            
            
            
            

     //////////////////////////////////////////////QUILL.JS       
            
             var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'], // toggled buttons
        ['blockquote', 'code-block'],

        [{
         'header': 1
        }, {
         'header': 2
        }], // custom button values
        [{
         'list': 'ordered'
        }, {
         'list': 'bullet'
        }],
        [{
         'script': 'sub'
        }, {
         'script': 'super'
        }], // superscript/subscript
        [{
         'indent': '-1'
        }, {
         'indent': '+1'
        }], // outdent/indent
        [{
         'direction': 'rtl'
        }], // text direction

        [{
         'size': ['small', false, 'large', 'huge']
        }], // custom dropdown
        [{
         'header': [1, 2, 3, 4, 5, 6, false]
        }],

        [{
         'color': []
        }, {
         'background': []
        }], // dropdown with defaults from theme
        [{
         'font': []
        }],
        [{
         'align': []
        }],['link', 'image', 'video', 'formula'],

        ['clean'] // remove formatting button
    ];

    function quil(e) {
     var cont = document.getElementById(e)
     window.quill = new Quill(cont, {
         modules: {
             toolbar: toolbarOptions
         },
         theme: 'snow'
     });
 }
            
</script>

</html>
